<template>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<head>
<body>
<h1>My book loans</h1>
<div id="app">
  <ui-checkbox v-model="value" label="foo" name="foo"></ui-checkbox>
</div>

<ul>
  <li>
    <strong>Title:</strong>
    <%= @item.title %>
  </li>
  <li>
    <strong>Code:</strong>
    <%= @item.code %>
  </li>
  <li>
    <strong>Start date:</strong>
    <%= @item.start_date %>
  </li>
  <li>
    <strong>Due date:</strong>
    <%= @item.due_date %>
  </li>
  <li>
    <strong>Times extended:</strong>
    <%= @item.times_extended %>
  </li>
  <li>
    <div id="exam-app">
      <%= form_for @changeset, exam_path(@conn, :update, @item), fn item -> %>
        <div class="form-group">
            <button class="btn btn-default" v-on:click="extend" id="extend">Extend</button>
        </div>
      <% end %>
    </div>
  </li>
</ul>
<body>
<template>