Vue.component('ui-checkbox', {
  template: '<div><input type="hidden" :name="name" :value="value"> \
             <input type="checkbox" :value="value"> \
             <label>{{label}}</label></div>',
  props: ['name', 'label', 'value']
})